*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(25, 25, 25);
  color: #ffffff;
}

.wrapper {
  width: 90%;
  height: 100%;
  padding: 2% 0 2% 0;
  display: grid;
  grid-template-rows: 8fr 5fr 5fr;
  gap: 2%;
  /* flex-direction: column;
  align-items: space-around;
  justify-content: space-around; */
}

.workletContainer {
  grid-row: 1;
  height: 100%;
  align-self: center;
}

/* We will need a fade-in fade-out animation to make it look cleaner */
.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls {
  grid-row: 2;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 100px;
}

.controls label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 50px;
  background: #0fabff;
  cursor: pointer;
  border-radius: 10px;
}

.slider::-moz-range-thumb {
  width: 5px;
  height: 50px;
  background: #0fabff;
  cursor: pointer;
  border-radius: 10px;
}

.controls label span {
  display: block;
  text-align: center;
}

#no-worklet {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.controls #start {
  margin-right: auto;
}

.bottom {
  display: none;
  grid-row: 3;
  align-self: center;
}

#play-pause {
  display: flex;
  align-items: center;
  justify-content: center;
}

#play {
  border-radius: 100%;
  border-color: #0fabff;
}
#play:hover {
  stroke: #45beff;
  fill: #45beff;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

#pause {
  border-radius: 100%;
  border-color: #0fabff;
  display: none;
}
#pause:hover {
  stroke: #45beff;
  fill: #45beff;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
