*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: rgb(25, 25, 25);
  overflow: hidden;
}
/* we need overflow: hidden property for mobile app to prevent dragging webview  */

body {
  padding: 0;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

/* fade-out animation too to make it look cleaner */
.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-animation: fadeIn 0.5s linear;
  animation: fadeIn 0.5s linear;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  width: 90%;
  height: 100%;
  padding: 2% 0 2% 0;
  display: none;
  grid-template-rows: 8fr 8fr 4fr;
  gap: 2%;
  /* flex-direction: column;
  align-items: space-around;
  justify-content: space-around; */
}

.workletContainer {
  grid-row: 1;
  height: 100%;
  width: 100%;
  align-self: center;
}

.controls {
  grid-row: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.controls label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls span {
  font-size: 2.5rem;
  font-weight: 500;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 7px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  background: #82fafa;
  cursor: pointer;
  border-radius: 20px;
}

.slider::-moz-range-thumb {
  width: 45px;
  height: 45px;
  background: #82fafa;
  cursor: pointer;
  border-radius: 20px;
}

.controls label span {
  display: block;
  text-align: center;
}

#no-worklet {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.controls #start {
  margin-right: auto;
}

.bottom {
  display: block;
  grid-row: 3;
  align-self: center;
}

#play-pause {
  display: flex;
  align-items: center;
  justify-content: center;
}

#play {
  border-radius: 100%;
  /* border-color: #0fabff; */
  border-color: #82fafa;
}
#play:hover {
  stroke: #82fafa;
  fill: #82fafa;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

#pause {
  border-radius: 100%;
  border-color: #82fafa;
  display: none;
}
#pause:hover {
  stroke: #82fafa;
  fill: #82fafa;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
